body {
	font-family: 'Montserrat', sans-serif;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    background: #262626;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: white;
}