@import '../helpers/Vars.scss';

.uk-container-small {
    max-width: 640px !important;
}

button {
    background: $mainColor;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: $mainWhite;
}

.profile-info {
    padding: 50px;
    h2 {
        color: $mainWhite
    }
    .user-email {
        color: #aaa;
        margin-bottom: 20px;
    }
    span {
        color: $mainWhite;
    }
}